{% extends 'base.html' %}
{% block content %}

<hr>

<!-- HERO SECTION -->
<div class="hero text-center mt-5">
    <img src="{{ url_for('static', filename='images/profile.jpg') }}"
         class="profile-img mb-3">

    <h2 class="mt-3 animate__animated animate__fadeInDown">Hi, I'm Roshan 👋</h2>
    <p class="lead animate__animated animate__fadeInUp">
        Flask Developer • React Learner • Cloud Enthusiast
    </p>
</div>

<!-- SKILLS -->
<div class="row mt-5 text-center">
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3 animate__animated animate__fadeInLeft">
            <h5>Backend</h5>
            <p>Flask, Authentication, SQL</p>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3 animate__animated animate__fadeInUp">
            <h5>Frontend</h5>
            <p>HTML, CSS, Bootstrap, React</p>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3 animate__animated animate__fadeInRight">
            <h5>Cloud</h5>
            <p>Linux, AWS Basics</p>
        </div>
    </div>
</div>

<!-- PROJECTS -->
<h3 class="mb-3 mt-5 text-center animate__animated animate__fadeIn">My Projects</h3>

<div class="row justify-content-center">
    <!-- Example Project Card 1 -->
    <div class="col-md-6">
        <div class="card mb-3 shadow-sm animate__animated animate__fadeInUp">
            <div class="card-body">
                <h5 class="card-title">MovieBookingSite</h5>
                <p class="card-text">CineVerse is a modern React.js movie site application with a cinematic UI/UX, where users can browse trending movies, watch trailers, view showtimes, and book tickets for their favorite movies. The app integrates with vercel.</p>
                <a href="https://movie-booking-site-sigma.vercel.app/" target="_blank"
                   class="btn btn-outline-primary btn-sm">
                   <i class="fa-brands fa-github"></i> View on Vercel
                </a>
            </div>
        </div>
    </div>

    <!-- Example Project Card 2 -->
    <div class="col-md-6">
        <div class="card mb-3 shadow-sm animate__animated animate__fadeInUp">
            <div class="card-body">
                <h5 class="card-title">User Management App</h5>
                <p class="card-text">his is a React-based User Management App that displays a list of users with their names, emails, and avatars. Users can click on any user to view a detailed profile. The app features dark mode support, smooth animations, and a responsive design.</p>
                <a href="https://user-management-app-react-5olxbks3l-roshans-projects-93979da7.vercel.app/" target="_blank"
                   class="btn btn-outline-primary btn-sm">
                   <i class="fa-brands fa-github"></i> View on Vercel
                </a>
            </div>
        </div>
    </div>

    <!-- Add more projects here manually in the same structure -->
</div>

{% endblock %}
